body {
    background-color: #220615;
}


div {
    margin: auto;
    width: 40%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1rem solid #64ffda;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
    color:#F6F6F6;
}