.h1Header, .introSection-main .introSection-main-p1, .introSection-main h1 {
  font-size: 4rem;
  font-weight: 600;
  color: #F6F6F6;
}

.shiningEffectForText, .socialMediaColumn-item i {
  color: #64ffda;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #fff, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #220615;
  color: #F6F6F6;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 30px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", sans-serif;
  font-size: 15px;
  font-weight: 10;
}

.navbar-brand {
  display: block;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3749/3749784.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 0.1rem solid #64ffda;
  border-radius: 50%;
  text-align: center;
  margin: 0;
}

.menuBtnColor {
  border: 0.1rem solid #64ffda;
}

.menuColor {
  color: #64ffda;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 40%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 992px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 80%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.navbar-itemCustomized a {
  text-transform: capitalize;
  color: #F6F6F6;
  text-decoration: none;
}
.navbar-itemCustomized a:hover, .navbar-itemCustomized a:focus {
  color: #64ffda;
}

.nav-item-contact {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  border: 0.1rem solid #64ffda;
  border-radius: 15px;
  text-align: center;
}

.introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 100px;
  margin: 30px 0;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}
@media (max-width: 576px) {
  .introSection {
    padding: 30px;
  }
}
@media (min-width: 1400px) {
  .introSection {
    padding: 0 10vw 0 10vw;
  }
}

.introSection-main {
  min-width: 300px;
}
.introSection-main h3 {
  font-size: 15px;
  color: #64ffda;
}
.introSection-main button {
  background-color: #220615;
  border: 0.1rem solid #64ffda;
  border-radius: 10px;
}
.introSection-main button a {
  display: block;
  text-decoration: none;
  color: #F6F6F6;
  padding: 15px 25px;
}

.projectsShowcase {
  padding: 0 10vw;
  margin-top: 2vh;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 576px) {
  .projectsShowcase {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .projectsShowcase {
    padding: 0;
  }
}

.projectsShowcase-header {
  margin-bottom: 30px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projectsShowcase-header h2 {
  padding: 0 10vw;
}

.carousel-control {
  width: 60%;
  height: auto;
  border: 0.1rem solid #64ffda;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .carousel-control {
    width: 100vw;
    height: auto;
  }
}
@media (max-width: 768px) {
  .carousel-control {
    width: 100vw;
    height: auto;
  }
}

.carousel-inner {
  width: 100%;
}

.carousel-item {
  width: 100%;
  height: auto;
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 10px;
}

.socialMediaColumn-wrapper {
  position: fixed;
  top: 12vh;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 5%;
  max-height: 350px;
  height: auto;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 576px) {
  .socialMediaColumn-wrapper {
    position: static;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
  }
}
@media (max-width: 768px) {
  .socialMediaColumn-wrapper {
    position: static;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-bottom: 5vh;
  }
}

.socialMediaColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  height: 70vh;
  margin-bottom: 0;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .socialMediaColumn {
    position: static;
    width: 30%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .socialMediaColumn {
    position: static;
    width: 30%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.socialMediaColumn-item {
  list-style: none;
}

.socialMediaColumn-item i {
  font-weight: 100;
  font-size: 20px;
}

.leftLine {
  width: 1px;
  height: 150px;
  background-color: #64ffda;
}
@media (max-width: 576px) {
  .leftLine {
    display: none;
  }
}
@media (max-width: 768px) {
  .leftLine {
    display: none;
  }
}

.myskillsSection {
  padding: 0 10vw 5vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.techStack-list {
  padding-top: 5vh;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 60px));
  grid-gap: 40px;
}
@media (min-width: 768px) {
  .techStack-list {
    grid-template-columns: repeat(4, minmax(auto, 60px));
  }
}
@media (min-width: 992px) {
  .techStack-list {
    grid-template-columns: repeat(6, minmax(auto, 60px));
  }
}
@media (min-width: 1200px) {
  .techStack-list {
    grid-template-columns: repeat(8, minmax(auto, 60px));
  }
}

.techStack-item {
  list-style: none;
}

.techStack-item i {
  font-size: 60px;
  font-weight: 100;
  color: #64ffda;
}

.contactSection-Wrapper {
  width: 100%;
  padding: 0 10vw 5vh 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contactSection {
  font-family: "Roboto Mono", sans-serif;
}

.contactFrom-item {
  margin-bottom: 10px;
  width: 80vw;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-start;
}

.contactFrom-btn {
  margin-bottom: 10px;
  width: 30vw;
  max-width: 150px;
  height: auto;
  border-radius: 10px;
  border: 0.1rem solid #64ffda;
  background-color: #64ffda;
  font-size: 20px;
  font-weight: 500;
}

.footerCustomized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerCustomized footer {
  padding-bottom: 20px;
  font-family: "Roboto Mono", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
