.shiningEffectForText, .fa-brands {
  color: #64ffda;
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 6px #fff, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa, 0 0 1px #0fa;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #230d23;
  color: #F6F6F6;
}

.navbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  min-height: 4rem;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.navbar-brand {
  display: block;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3749/3749784.png");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  width: 50px;
  height: 50px;
  border: 0.2rem solid #64ffda;
  border-radius: 50%;
  text-align: center;
  margin: 0;
}

.menuBtnColor {
  border: 0.2rem solid #64ffda;
}

.menuColor {
  color: #64ffda;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 40%;
  height: auto;
  margin-right: 5rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1000px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 80%;
    height: auto;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 500px) {
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.navbar-itemCustomized a {
  text-transform: capitalize;
  color: #F6F6F6;
  text-decoration: none;
}
.navbar-itemCustomized a:hover, .navbar-itemCustomized a:focus {
  color: #64ffda;
}

.nav-item-contact {
  box-sizing: border-box;
  border: 0.2rem solid #64ffda;
  border-radius: 15px;
  text-align: center;
}

.socialMediaColumn-wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 5%;
  min-width: 80px;
  height: auto;
  min-height: 60vh;
  margin-top: 30px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.socialMediaColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0;
  height: 70vh;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.socialMediaColumn-item {
  list-style: none;
}

.fa-brands {
  font-weight: 100;
  font-size: 20px;
}

.leftLine {
  width: 1px;
  height: 150px;
  background-color: #64ffda;
}

.introSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: auto;
  padding: 0 100px;
  margin: 30px 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
}

.introSection-main h3 {
  font-size: 15px;
  color: #64ffda;
}
.introSection-main h1 {
  font-size: 4rem;
  color: #F6F6F6;
}
.introSection-main button {
  background-color: #230d23;
  border: 0.2rem solid #64ffda;
  border-radius: 10px;
}
.introSection-main button a {
  display: block;
  text-decoration: none;
  color: #F6F6F6;
  padding: 20px 25px;
}

/*# sourceMappingURL=styles.css.map */
